venv/
env/
.env

__pycache__/
*.py[cod]
*$py.class

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/vectors/*
!data/vectors/.gitkeep

.vscode/
.idea/

.streamlit/
